NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/myapp?appName=rufuf
DNS_SERVERS=1.1.1.1,8.8.8.8
SESSION_SECRET=replace-with-a-random-secret-at-least-32-characters-long
REQUIRE_EMAIL_VERIFICATION=true
ADMIN_EMAIL=kareemge@rufuf.com
ADMIN_PASSWORD=12345678
KASHIER_SECRET_KEY=e59b7d71a1a3398e588cbf575b3f248f$864c15c0d9c7d4619ef81be501271faa364869c1c316c169cbf92072997e386c75e647440318821a9662aad6867420d6
KASHIER_MERCHANT_ID=MID-50745-15
KASHIER_PAYMENT_URL=https://test-api.kashier.io/v2/payment-link
KASHIER_WEBHOOK_URL=https://your-domain.example/api/payments/kashier/webhook